{% extends '_layouts/base.html' %}

{% block content %}
{% load static %}
<div class="content-panel">
    <!-- ================================================ -->
     <div style="text-align: center">
        <h2>{{ page_title }}</h2>
    </div>
    <form id="form1" action="/accounts/sign_in" method="post" onsubmit="return true">
        {% csrf_token %}
        <p>
            <label for="login">Логін:</label><br>
            <input type="text" id="login" name="login" class="inp" required>
            <div id="login-mess" class="mess"></div>
        </p>
        <p>
            <label for="pass1">Пароль:</label><br>
            <input type="password" id="pass1" name="pass1" class="inp" required>
            <div id="pass1-mess" class="mess"></div>
        </p>
        <p>
            <input type="checkbox" id="remember" name="remember">
            <label for="remember">Залишатись в системі:</label><br>
        </p>
        <p style="margin-top: 30px; text-align: center">
            <input id="submit" type="submit" value="Увійти" class="btn">
            <input id="reset" type="reset" value="Очистити" class="btn">
        </p>
    </form>
    <!-- ================================================ -->
</div>
<style>
    #form1 {
        text-align: left;
        width: 300px;
        margin: 0 auto;
    }
    .inp {
        width: 98%;
        padding: 5px;
    }
    .btn {
        width: 120px;
        padding: 3px;
        border-radius: 5px;
    }
    .btn:hover {
        cursor: pointer;
        color: white;
        background: gray;
    }
    .mess {
        color: red;
        font-style: italic;
        font-size: 0.95em;
    }
</style>
{% endblock content %}