{% extends '_layouts/base.html' %}

{% block content %}
<div class="content-panel">
    <!-- ================================================ -->
    <div style="text-align: center">
        <h2>{{ page_title }}</h2>
    </div>
    <div style="text-align: center">
        <a href="/accounts/sign_in"><input id="s-i" type="submit" value="Вхід" class="btn"></a>
    </div>
    <hr>
    <div style="text-align: center">
        <a href="/accounts/sign_up"><input id="s-u" type="submit" value="Реєстрація" class="btn"></a>
    </div>
    <!-- ================================================ -->
</div>
{% endblock content %}