{% load static %}
<!-- ##### Header Area Start ##### -->
<header class="header_area">
    <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
        <!-- Classy Menu -->
        <nav class="classy-navbar" id="essenceNav">
            <!-- Logo -->
            <a class="nav-brand" style="margin-bottom: 25px; width: 25%; height: 25%" href="/"><img src="{% static 'img/core-img/shm-logo.png' %}" alt=""></a>
            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler">
                <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>
            <!-- Menu -->
            <div class="classy-menu">
                <!-- close btn -->
                <div class="classycloseIcon">
                    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                </div>
                <!-- Nav Start -->
                <div class="classynav">
                    <ul>
                        <li><a href="/">Головна</a></li>
                        <li><a href="#">Магазин</a>
                            <div class="dropdown">
                                <ul class="single-mega cn-col-4">
                                    <li><a href="shop/dress">Сукні</a></li>
                                    <li><a href="">Блузки та Сорочки</a></li>
                                    <li><a href="">Футболки</a></li>
                                    <li><a href="">Комбінезон</a></li>
                                    <li><a href="">Нижня білизна</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="/about">Про нас</a></li>
                        <li><a href="/contacts">Контакти</a></li>
                    </ul>
                </div>
                <!-- Nav End -->
            </div>
        </nav>

        <!-- Header Meta Data -->
        <div class="header-meta d-flex clearfix justify-content-end">
            <!-- Search Area -->
            <div class="search-area">
                <form action="#" method="post">
                    <input type="search" name="search" id="headerSearch" placeholder="Введіть для пошуку">
                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </div>
            <!-- Favourite Area -->
            <div class="favourite-area">
                <a href="#"><img src="{% static 'img/core-img/heart.svg' %}" alt=""></a>
            </div>
            <!-- User Login Info -->
            <div class="user-login-info">
                <a href="/accounts/sign_up_in"><img src="{% static 'img/core-img/user.svg' %}" alt=""></a>
            </div>
            <!-- Cart Area -->
            <div class="cart-area">
                <a href="#" id="essenceCartBtn"><img src="{% static 'img/core-img/bag.svg' %}" alt=""> <span>3</span></a>
            </div>
        </div>

    </div>
</header>
<!-- ##### Header Area End ##### -->
