{% extends '_layouts/base.html' %}

{% block content %}
    <div class="content-panel" style="padding: 3%">
        <div class="section">
            <div class="container">
                <div class="row">
                    <!-- ------------------------------------------------------- -->
                    {% for order in order_summary_list %}
                        <div class="card mb-3 col-md-4">
                            <div class="row g-0">
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h4 class="card-title" style="color: black">
                                            {{order.product}} <span> x{{ order.quantity }}</span>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <!-- ------------------------------------------------------- -->
                </div>
            </div>
        </div>
    </div>

    <div style="text-align: center;">
        <br style="clear: both">
        <hr>
        <h4 style="color: gray;">
            Загальна вартість:
            <span style="color: red">{{total_price}} грн</span>
        </h4>
        <br>
        <div>
            <p style="text-align: center">
                <a href="/bill/checkout" class="btn btn-success">
                    Підтвердити замовлення
                </a>
            </p>
        </div>
        <hr>
    </div>
{% endblock content %}
