{% extends '_layouts/base.html' %}

{% block content %}
    <div class="content-panel">
        <div class="section">
            <div class="container">
                <div class="row">
                    <!-- ------------------------------------------------------- -->
                    {% for order in all_orders %}
                        <div class="card mb-3 col-md-4">
                            <div class="row g-0">
                                <div class="col-md-8">
                                    <div class="card-body">

                                        <h4 class="card-title" style="color: black">
                                            {{order.product}}
                                        </h4>

                                        <h4 style="color: #000; font-size: 16px;
                                            font-weight: 700px;
                                            line-height: 20px;
                                            margin-top: 0;
                                            margin-bottom: 12px; text-decoration-line: underline;">
                                        </h4>
                                        <h4 style="color: blue">

                                            ${{order.amount}}
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <!-- ------------------------------------------------------- -->
                </div>
            </div>
        </div>
    </div>

    <div style="text-align: center;">
        <br style="clear: both">
        <hr>
        <h4 style="color: gray;">
            Загальна вартість:
            <span style="color: red">{{total_price}} грн</span>
        </h4>
        <br>
        <div>
            <p style="text-align: center">
                <a href="/bill/checkout" class="btn btn-success">
                    Підтвердити замовлення
                </a>
            </p>
        </div>
        <hr>
    </div>
{% endblock content %}
