{% extends '_layouts/base.html' %}

{% block content %}
    <div class="single-blog-wrapper">

        <!-- Single Blog Post Thumb -->
        <div class="single-blog-post-thumb">
            <img src="img/bg-img/bg-7.jpg" alt="">
        </div>

        <!-- Single Blog Content Wrap -->
        <div class="single-blog-content-wrapper d-flex">

            <!-- Blog Content -->
            <div class="single-blog--text">
                <h2>Про нас</h2>
                <p>Вітаємо вас на нашому інтернет-магазині Shmattyo!
                    Ми - команда професіоналів, що має страсть до моди та стильного одягу.
                    Наша місія - зробити процес вибору та покупки одягу легким, захоплюючим і доступним для кожного клієнта.</p>
                <h4>Наші цінності</h4>
                <h6>Мода для кожного: Ми віримо, що стильний одяг має бути доступним для всіх. Тому ми пропонуємо широкий асортимент товарів різних цінових категорій, щоб кожен міг вибрати щось для себе.</h6>
                <hr>
                <h6>Якість та надійність: Ми працюємо тільки з надійними постачальниками і гарантуємо якість кожного товару, представленого в нашому магазині.</h6>
                <hr>
                <h6>Співпраця та підтримка: Наша команда завжди готова відповісти на ваші запитання, допомогти вибрати правильний розмір і зробити процес покупки приємним і безпечним.</h6>

                <br><br>
                <h2>Зв'яжіться з нами</h2>
                <p>Ми завжди відкриті до спілкування та готові відповісти на всі ваші запитання.
                Наша контактна інформація доступна на сторінці <a href="/contacts" style="color: black; font-size: 18px">Контакти</a>.
                Дякуємо за те, що обрали Shmattyo! Бажаємо вам приємних покупок та бездоганного стилю!</p>
            </div>



        </div>
    </div>
{% endblock content %}